<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">
<link href="images/favicon.ico" rel="icon" />
<title>Mayank - Personal Portfolio</title>
<meta name="description" content="Callum is responsive bootstrap 5 one page personal portfolio html template.">
<meta name="author" content="mayank Mishra">

{{>style}}

</head>

<body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="70">

<!-- Preloader -->
<div class="preloader">
  <div class="lds-ellipsis">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>

<!-- Document Wrapper   =============================== -->
<div id="main-wrapper"> 
  

    <!-- Navbar============================================= -->
    {{>navbar}}
    <!-- Navbar End --> 
 
  
  <!-- Content============================================= -->
  <div id="content" role="main"> 
    
    <!-- Intro============================================= -->
   {{>intro}}
    <!-- Intro end --> 
    
    <!-- About============================================= -->
      {{>about}}
    <!-- About end --> 
    
    <!-- Services ============================================= -->
   {{>services}}
    <!-- Services end --> 
    
    <!-- Resume ============================================= -->
    {{>resume}}
    <!-- Resume end --> 
    
    <!-- Portfolio ============================================= -->
    {{>portfolio}}
    <!-- Portfolio end --> 
    
    <!-- Call to Action ============================================= -->
    {{>call_action}}
    <!-- Call to Action end --> 
    
    <!-- FAQ============================================= -->
       {{>faq}}
    <!-- FAQ end --> 
    
    <!-- Testimonial============================================= -->
                {{!-- {{>testimonial}} --}}
    <!-- Testimonial end --> 

    <!-- Contact Me============================================= -->
          {{>contact}}
    <!-- Contact Me end --> 
    
  </div>
  <!-- Content end =============================================--> 
  
  <!-- Footer============================================= -->
   {{>footer}}
  <!-- Footer end============================================= --> 
  
</div>

<!-- Document Wrapper end =============================================--> 


<!-- Styles Switcher=============================================-->
{{>color_swither}}
<!-- Styles Switcher End============================================= --> 



<!-- JavaScript Tags=============================================-->
{{>javascript_tags}}
<!-- JavaScript Tags End============================================= --> 

</body>
</html>