<section>
      <div class="hero-wrap">
        <div class="hero-mask opacity-8 bg-dark"></div>
        
<div class="hero-bg parallax" style="background-image: url(&quot;images/img1.jpg&quot;); background-size: cover; background-repeat: no-repeat; background-attachment: fixed; background-position: center 159.836px;"></div>

        <div class="hero-content section">
          <div class="container text-center py-5 wow fadeInUp">
            <h2 class="text-10 fw-600 text-white mb-5">Interested in working with me?</h2>
            <a href="#contact" class="btn btn-primary rounded-0 smooth-scroll wow rubberBand" data-wow-delay="1s">Hire Me!</a> </div>
        </div>
      </div>
    </section>