<a id="back-to-top" class="rounded-circle" data-bs-toggle="tooltip" title="Back to Top" href="javascript:void(0)"><i class="fas fa-arrow-up"></i></a> 


<div id="styles-switcher" class="right">
  <h2 class="text-3 fw-600">Color Switcher</h2>
  <hr>
  <ul>
    <li class="cyan" data-bs-toggle="tooltip" title="Cyan" data-path="css/color-cyan.css"></li>
    <li class="spring-green" data-bs-toggle="tooltip" title="Spring Green" data-path="css/color-spring-green.css"></li>
    <li class="green-yellow" data-bs-toggle="tooltip" title="Green Yellow" data-path="css/color-green-yellow.css"></li>
    <li class="lime-punch" data-bs-toggle="tooltip" title="Lime Punch" data-path="css/color-lime-punch.css"></li>
    <li class="violet" data-bs-toggle="tooltip" title="Violet" data-path="css/color-violet.css"></li>
    <li class="orange" data-bs-toggle="tooltip" title="Orange" data-path="css/color-orange.css"></li>
    <li class="pale-golden-rod" data-bs-toggle="tooltip" title="Pale Golden Rod" data-path="css/color-pale-golden-rod.css"></li>
    <li class="yellow" id="reset-color" data-bs-toggle="tooltip" title="Reset Default Yellow"></li>
  </ul>
  <button class="btn switcher-toggle"><i class="fas fa-cog"></i></button>
</div>