 <section id="faq" class="section bg-light">
      <div class="container">
        <div class="row gy-5">
          <div class="col-lg-6 order-1 order-lg-0 wow fadeInUp"> 
            <!-- Heading -->
            <p class="text-center text-lg-start mb-2"><span class="bg-primary text-dark px-2">FAQ</span></p>
            <h2 class="text-10 fw-600 text-center text-lg-start mb-5">Have any questions?</h2>
            <!-- Heading end-->
            <div class="accordion accordion-flush" id="faqTopics">
        
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo"> How Can I Help You? </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#faqTopics">
                  <div class="accordion-body">
                    <p> A well-designed website can help you form a good impression on your prospective customers. It can also help you nurture your leads and get more conversions. But, more importantly, it provides good user experience and helps your website visitors access and navigate your website with ease.</p>
                    <p class="mb-0">A website helps create brand awareness and showcasing your brand to prospective customers.</p>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingThree">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree"> Simple process of workflow? </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#faqTopics">
                  <div class="accordion-body"> A website design workflow consists of all the processes and tasks involved in designing and building a website from start to finish. It includes key information about each stage of the project, including task deadlines, team members responsible for each task, and approvals required at different steps
                     </div>
                </div>
              </div>
             
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingFive">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseThree"> Why responsive one page template? </button>
                </h2>
                <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#faqTopics">
                  <div class="accordion-body"> In a one-page site, all the information is presented on a single page, so navigation links serve as anchors to different sections of the page. This layout means that one-page websites often have smooth scrolling and parallax effects, which give them an immersive feel. </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 d-flex align-items-center justify-content-center order-0 order-lg-1 wow fadeIn" data-wow-delay="1s"> <img class="img-fluid" src="images/faq.png" title="FAQ" alt="faq"> </div>
        </div>
      </div>
    </section>