  <footer id="footer" class="section bg-dark text-white">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 text-center text-lg-start wow fadeInUp">
          <p class="mb-2 mb-lg-0">Copyright © 2022 <a class="fw-600" href="#">Mayank</a>. All Rights Reserved.</p>
        </div>
        <div class="col-lg-6 wow fadeInUp">
          <p class="mb-0 text-center text-lg-end">Designed by <a class="fw-600" href="/">Mayank Mishra</a></p>
        </div>
      </div>
    </div>
  </footer>