 {{!-- <section id="home">
      <div class="hero-wrap">
        <div class="hero-mask opacity-8 bg-dark"></div>
        
        <div class="hero-content d-flex fullscreen py-5" style="background-image:url('images/img1.jpg');">
          <div class="container my-auto py-4">
            <div class="row">
          <div class="col-lg-12 text-center order-1 order-lg-0">
            <h1 class="text-8 text-white fw-400 mb-0 text-uppercase">Hi, I'm a Freelancer</h1>
            <div class="typed-strings">
              <p>Designer</p>
              <p>Developer</p>
              <p>Photo</p>
            </div>
            <h2 class="text-23 text-white fw-600 text-uppercase mb-0 ms-n1"><span class="typed"></span></h2>
            <p class="text-5 text-light">based in Dehradun, Uttrakhand.</p>
            <a href="#portfolio" class="btn btn-primary fw-600 rounded-0 smooth-scroll mt-3">View My Works</a> </div>
          
        </div>
			
          </div>
          <a href="#about" class="scroll-down-arrow text-light smooth-scroll"><span class="animated"><i class="fas fa-arrow-down"></i></span></a> </div>
      </div>
    </section> --}}

    <section id="home" class="bg-primary d-flex fullscreen position-relative py-2" >
      <div class="container my-auto py-2">
        <div class="row">
          <div class="col-lg-7 text-center text-lg-start align-self-center order-1 order-lg-0 wow fadeIn>
            <h1 class="text-12 fw-300 mb-0 text-uppercase">Hi, I'm a Freelancer</h1>
            <div class="typed-strings">
              <p>Designer</p>
              <p>Developer</p>
              <p>Mayank</p>
            </div>
            <h2 class="text-21 fw-600 text-uppercase mb-0 ms-n1"><span class="typed"></span></h2>
            <p class="text-5">based in Dehradun, Uttrakhand.</p>
            <a href="#portfolio" class="btn btn-dark rounded-0 smooth-scroll mt-3">View My Works</a><a href="#contact" class="btn btn-link text-dark smooth-scroll mt-3">Contact Me<span class="text-4 ms-2"><i class="far fa-arrow-alt-circle-down"></i></span></a>
		  </div>
          <div class="col-lg-5 text-center align-self-center mb-4 mb-lg-0 order-0 order-lg-1">
            <div class="bg-light rounded-circle d-inline-block p-3 shadow-lg wow zoomIn dp"> <img class="img-fluid rounded-circle d-block" src="images/myself3.jpeg" title="I'm Mayank" alt=""></div>
          </div>
        </div>
      </div>
      <a href="#about" class="scroll-down-arrow text-dark smooth-scroll"><span class="animated"><i class="fas fa-arrow-down"></i></span></a> 
      
      </section>