<section id="portfolio" class="section bg-light">
      <div class="container"> 
        <!-- Heading -->
        <p class=" text-center mb-2 wow fadeInUp"><span class="bg-primary text-dark px-2">Portfolio</span></p>
        <h2 class="text-10 fw-600 text-center mb-5 wow fadeInUp">Some of my most recent projects</h2>
        <!-- Heading end--> 
        
        <!-- Filter Menu -->
        <ul class="portfolio-menu nav nav-tabs fw-600 justify-content-start justify-content-md-center border-bottom-0 mb-4 wow fadeInUp">
          <li class="nav-item"> <a data-filter="*" class="nav-link rounded-0 active" href="">All</a></li>
          <li class="nav-item"> <a data-filter=".Frontend-Devlopment" href="" class="nav-link rounded-0">Frontend-Devlopment</a></li>
          <li class="nav-item"> <a data-filter=".JavaScript-Games" href="" class="nav-link rounded-0">JavaScript-Games</a></li>
          <li class="nav-item"> <a data-filter=".NodeProjects" href="" class="nav-link rounded-0">Node.Js-Projects</a></li>
          <li class="nav-item"> <a data-filter=".Full-Stack" href="" class="nav-link rounded-0">Full-Stack Devlopment</a></li>
        </ul>
        <!-- Filter Menu end -->
        <div class="portfolio wow fadeInUp">
          <div class="row g-4 mt-3 portfolio-filter">
            <div class="col-sm-6 col-lg-4 Frontend-Devlopment">
              <div class="portfolio-box">
                <div class="portfolio-img"> <img class="img-fluid d-block" src="images/projects/space.png" alt="">
                  <div class="portfolio-overlay"> <a class="popup-ajax stretched-link" href="ajax/portfolio-ajax-project-1.html"></a>
                    <div class="portfolio-overlay-details">
                      <p class="text-primary text-8"><i class="fas fa-file-alt"></i></p>
                      <h5 class="text-white text-5">Space Tourism Website</h5>
                      <span class="text-light">Frontend Devlopment</span> </div>
                  </div>
                </div>
              </div>
            </div>
               <div class="col-sm-6 col-lg-4 NodeProjects">
              <div class="portfolio-box">
                <div class="portfolio-img"> <img class="img-fluid d-block" src="images/projects/weather1.png" alt="Node.js project">
                  <div class="portfolio-overlay"> <a class="popup-ajax stretched-link" href="ajax/weather.html"></a>
                    <div class="portfolio-overlay-details">
                      <p class="text-primary text-8"><i class="fas fa-file-alt"></i></p>
                      <h5 class="text-white text-5">Weather Check Website</h5>
                      <span class="text-light">Backend Devlopment</span> </div>
                  </div>
                </div>
              </div>
            </div>
               <div class="col-sm-6 col-lg-4 JavaScript-Games">
              <div class="portfolio-box">
                <div class="portfolio-img"> <img class="img-fluid d-block" src="images/projects/SimonGame.png" alt="">
                  <div class="portfolio-overlay"> <a class="popup-ajax stretched-link" href="ajax/simonGame.html"></a>
                    <div class="portfolio-overlay-details">
                      <p class="text-primary text-8"><i class="fas fa-file-alt"></i></p>
                      <h5 class="text-white text-5">Simon Game</h5>
                      <span class="text-light">JavaScript Game</span> </div>
                  </div>
                </div>
              </div>
            </div>
               <div class="col-sm-6 col-lg-4 Full-Stack">
              <div class="portfolio-box">
                <div class="portfolio-img"> <img class="img-fluid d-block" src="images/projects/portfolio.png" alt="">
                  <div class="portfolio-overlay"> <a class="popup-ajax stretched-link" href="ajax/portfolioFullStack.html"></a>
                    <div class="portfolio-overlay-details">
                      <p class="text-primary text-8"><i class="fas fa-file-alt"></i></p>
                      <h5 class="text-white text-5">Portfolio Page</h5>
                      <span class="text-light">Full Stack Devlopment</span> </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4 Frontend-Devlopment" data-wow-delay="0.2s">
              <div class="portfolio-box">
                <div class="portfolio-img"> <img class="img-fluid d-block" src="images/projects/tindog01.png" alt="">
                  <div class="portfolio-overlay"> <a class="popup-ajax stretched-link" href="ajax/portfolio-ajax-project-2.html"></a>
                    <div class="portfolio-overlay-details">
                      <p class="text-primary text-8"><i class="fas fa-file-alt"></i></p>
                      <h5 class="text-white text-5">Tindog Website</h5>
                      <span class="text-light">Frontend Devlopment</span> </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4 Full-Stack" data-wow-delay="0.2s">
              <div class="portfolio-box">
                <div class="portfolio-img"> <img class="img-fluid d-block" src="images/projects/todo.png" alt="todo">
                  <div class="portfolio-overlay"> <a class="popup-ajax stretched-link" href="ajax/todo.html"></a>
                    <div class="portfolio-overlay-details">
                      <p class="text-primary text-8"><i class="fas fa-file-alt"></i></p>
                      <h5 class="text-white text-5">TODO List</h5>
                      <span class="text-light">Full Stack Devlopment</span> </div>
                  </div>
                </div>
              </div>
            </div>
              <div class="col-sm-6 col-lg-4 JavaScript-Games">
              <div class="portfolio-box">
                <div class="portfolio-img"> <img class="img-fluid d-block" src="images/projects/Dicee.png" alt="">
                  <div class="portfolio-overlay"> <a class="popup-ajax stretched-link" href="ajax/Javascript_game.html"></a>
                    <div class="portfolio-overlay-details">
                      <p class="text-primary text-8"><i class="fas fa-file-alt"></i></p>
                      <h5 class="text-white text-5">Dice Game</h5>
                      <span class="text-light">JavaScript Games</span> </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>