 <section id="services" class="section bg-light">
      <div class="container"> 
        <!-- Heading -->
        <p class=" text-center mb-2 wow fadeInUp"><span class="bg-primary text-dark px-2">What I Do?</span></p>
        <h2 class="text-10 fw-600 text-center mb-5 wow fadeInUp">How I can help your next project</h2>
        <!-- Heading end-->
        
        <div class="row gy-5 mt-5">
          <div class="col-sm-6 col-lg-6 wow fadeInUp">
            <div class="featured-box text-center px-md-4">
              <div class="featured-box-icon text-primary text-13"> <i class="fas fa-palette"></i> </div>
              <h3 class="text-6 fw-600 mb-3">Graphic Design</h3>
              <p class="text-muted mb-0">Graphic design is  communication design; It’s a way of conveying ideas through visuals and design. </p>
            </div>
          </div>
          <div class="col-sm-6 col-lg-6 wow fadeInUp">
            <div class="featured-box text-center px-md-4">
              <div class="featured-box-icon text-primary text-13"> <i class="fas fa-desktop"></i></div>
              <h3 class="text-6 fw-600 mb-3">Web Design</h3>
              <p class="text-muted mb-0">Web designing is the creation of websites and pages to reflect a company's brand and information and ensure a user-friendly experience. </p>
            </div>
          </div>
          <div class="col-sm-6 col-lg-6 wow fadeInUp">
            <div class="featured-box text-center px-md-4">
              <div class="featured-box-icon text-primary text-13"> <i class="fas fa-pencil-ruler"></i> </div>
              <h3 class="text-6 fw-600 mb-3">Web Development</h3>
              <p class="text-muted mb-0">Web development refers to the building, creating, and maintaining of websites. It includes aspects such as web design, web publishing, web programming, and database management. It is the creation of an application that works over the internet i.e. websites. </p>
            </div>
          </div>
          <div class="col-sm-6 col-lg-6 wow fadeInUp">
            <div class="featured-box text-center px-md-4">
              <div class="featured-box-icon text-primary text-13"> <i class="fas fa-paint-brush"></i> </div>
              <h3 class="text-6 fw-600 mb-3">Brand Identity</h3>
              <p class="text-muted mb-0">Brand identity is the visible elements of a brand, such as color, design, and logo that identify and distinguish the brand in consumers' minds. Consistent marketing and messaging lead to consistent brand identity and, therefore, consistent sales. </p>
            </div>
          </div>
        
        </div>
      </div>
    </section>